
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
    width: 70rem;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightslategray;
    padding: 20px;
}

.card-title {
    text-align: center;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.btn-group {
    background-color: lightslategray;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

button#addButton {
    background-color: #0e972e;
}

button#editButton {
    background-color: #2c2683;
}

button#removeButton {
    background-color: rgb(207, 65, 65);
}

table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
